
h1 {
  margin: 0;
}

.big-heading {
  font-family: 
}

.section-heading {
  /* Add your own font here */
  font-family: 
}
.button {
  background-color: cadetblue;
  border-color: black;
  border-radius: 10px;
  border-style: solid;
}
.nav__list {

}

.nav__list_item {

}

.page {

}

.page__header {
  background-color: rgb(0, 17, 255);

}
.page__content {
  background-color: beige;

}

.left-content {
  justify-content:space-evenly;
  background-color: burlywood;

}

.right-content {
  background-color: burlywood;
}

.main-content {

}

.main-content__section {
  background-color: cornsilk;

